<article class="greenlife">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-1 row-cols-lg-2 g-3">
    <div class="col">
      <p><%= t('.paragraph1') %></p>
      <p><%= t('.paragraph2') %></p>
      <p><%= t('.paragraph3') %></p>
      <p><%= t('.paragraph4') %></p>
    </div>
    <div class="col">
      <%= image_tag 'green_life_cams.webp', class: 'img-fluid', alt: "Image: Green Life Cameras" %>
    </div>
  </div>
</article>
