<article class="about">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <p><%= t('.paragraph1_html') %></p>

  <div class="row row-cols-1 row-cols-lg-4">
    <div class="col">
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/OpenIPC">OpenIPC (EN)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_1') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/s/openipc_dev">OpenIPC Development</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_2') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/+BMyMoolVOpkzNWUy">OpenIPC & FPV</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_7') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/openipc_demo">OpenIPC Demo</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_3') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/openipc_cn">OpenIPC (CN)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_10') %></p>
      </div>
    </div>
    <div class="col">
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/openipc_modding">OpenIPC Users (RU)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_4') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/openipc_software">OpenIPC Development (RU)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_5') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/openipc_repairs">OpenIPC Devices Repair (RU)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_6') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://paywall.pw/openipc">OpenIPC Paywall (RU)</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_8') %></p>
      </div>
      <div class="alert alert-primary tg">
        <%= image_tag "telegram.svg", class: "float-end" %>
        <h5><a href="https://t.me/joinchat/T_GwQUBTJdfXJrFb">OpenIPC Iranian</a></h5>
        <p class="mb-0"><%= t('telegram.channels.description_9') %></p>
      </div>
    </div>
    <div class="col">
      <h3><%= t('telegram.translation.header') %></h3>
      <%= t('telegram.translation.text_html') %>
      <%= image_tag 'telegram-translation.webp', class: 'border img-fluid img-zoom' %>
    </div>
    <div class="col">
      <h3><%= t('telegram.formatting.header') %></h3>
      <%= t('telegram.formatting.text_html') %>
      <dl class="row row-cols-2 mb-0">
        <dt><%= t('telegram.formatting.bold') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">B</span></dd>
        <dt><%= t('telegram.formatting.italic') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">I</span></dd>
        <dt><%= t('telegram.formatting.underline') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">U</span></dd>
        <dt><%= t('telegram.formatting.strikeout') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">Shift</span><span class="kb_key">X</span></dd>
        <dt><%= t('telegram.formatting.monospace') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">Shift</span><span class="kb_key">M</span></dd>
        <dt><%= t('telegram.formatting.hyperlink') %></dt>
        <dd><span class="kb_key">Ctrl</span><span class="kb_key">K</span></dd>
      </dl>
    </div>
  </div>

  <%= render "pages/donate" %>
</article>

<%= render 'pages/zoom' %>

<style>
    h5 {
        font-size: 1rem;
        font-weight: 700;
    }
    .kb_key {
        background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
        border-radius: 5px;
        border: 1px solid #888;
        color: #555;
        display: inline-block;
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0 0.25em 0 0;
        min-width: 2em;
        padding: 0.125em 0.5em;
        text-align: center;
    }
</style>
