<article class="about">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <h3>FPV</h3>
      <p><%= t('.paragraph1_html') %></p>
      <p><%= t('.paragraph2') %></p>
      <h3>VoIP/SIP</h3>
      <p><%= t('.paragraph3') %></p>
      <h3>Firmware Builder</h3>
      <p><%= t('.paragraph4') %></p>
      <p><%= t('.paragraph5') %></p>
    </div>
  </div>

  <%= render "pages/donate" %>
</article>
