<article class="about">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <h3><%= t('.subtitle1') %></h3>
      <dl>
        <dt><a href="https://github.com/OpenIPC/firmware">Firmware</a></dt>
        <dd><%= t('.firmware_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/majestic">Majestic</a></dt>
        <dd><%= t('.majestic_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/ipctool">IPC tool</a></dt>
        <dd><%= t('.ipctool_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/coupler">Coupler</a></dt>
        <dd><%= t('.coupler_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/smolrtsp">SmolRTSP</a></dt>
        <dd><%= t('.smolrtsp_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/mini">Mini</a></dt>
        <dd><%= t('.mini_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/silicon_research">Venc</a></dt>
        <dd><%= t('.venc_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/yaml-cli">YAML-cli</a></dt>
        <dd><%= t('.yamlcli_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/microbe-web">Microbe Web</a></dt>
        <dd><%= t('.webui_info') %></dd>
      </dl>
    </div>

    <div class="col">
      <h3><%= t('.subtitle2') %></h3>
      <p class="alert alert-info"><%= t('.umbrella_info') %></p>
      <dl>
        <dt><a href="https://github.com/OpenIPC/motors">Motors</a></dt>
        <dd><%= t('.motors_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/burn">burn</a></dt>
        <dd><%= t('.burn_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/hisi-trace">HiSi-trace</a></dt>
        <dd><%= t('.hisitrace_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/openhisilicon">OpenHisilicon</a></dt>
        <dd><%= t('.openhisi_info') %></dd>
        <dt><a href="https://github.com/OpenIPC/openxiongmai">OpenXiongmai</a></dt>
        <dd><%= t('.openxm_info') %></dd>
        <dt><a href="https://team.openipc.org/exipcam">ExIPCam</a></dt>
        <dd class="mb-0"><%= t('.exipcam_info') %></dd>
        <dd class="fst-italic"><%= t('.exipcam_info_extra') %></dd>
        <dt><a href="https://team.openipc.org/ipcam_dms">IPCam DMS</a></dt>
        <dd class="mb-0"><%= t('.ipcamdms_info') %></dd>
        <dd class="fst-italic"><%= t('.ipcamdms_info_extra') %></dd>
      </dl>

      <h3><%= t('.subtitle3') %></h3>
      <p class="alert alert-info"><%= t('.community') %></p>
      <dl>
        <dt><a href="https://www.printables.com/search/models?q=tag:openipc">tag:openipc at printables.com</a></dt>
        <dd><%= t('.printables_info') %></dd>
      </dl>
    </div>
  </div>

  <%= render "pages/donate" %>
</article>
