<article class="hardware">
  <header>
    <h2>Stages of Firmware development</h2>
  </header>

  <div class="row">
    <div class="col-lg-8">

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-neq.svg", alt: "Image: stage NEQ", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>NEQ</b><br>No Equipment. We have an SDK for the platform, but we don't have specific hardware to
                continue development, you can donate it to our R&D guys (especially old boards that passed
                <abbr title="End-Of-Life">EOL</abbr> and can not longer be bought).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-rnd.svg", alt: "Image: stage R&D", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>R&D</b><br>The Research and Development stage, when we already have the platform SDK and maybe
                even the hardware boards, but we are starting to fiddle with the platform, studying its specifics and
                features. There is still a lot of work ahead.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-hlp.svg", alt: "Image: stage HLP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>HLP</b><br>Help wanted. We have the hardware, we have the SDK, the basic stuff is learned and done.
                But we are stuck. This is where we are looking for help from experienced embedded developers to overcome
                the obstacles and move on to the next stage.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-wip.svg", alt: "Image: stage WIP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>WIP</b><br>Work in progress. We learned a lot about the platform hardware and code base,
                prepared the first public binary build, and are waiting for the first adopters to test it on their
                boards and provide feedback to help us move forward.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-mvp.svg", alt: "Image: stage MVP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>MVP</b><br>A minimal viable product. The basic system is built, the platform can produce video,
                at least on the main channel, but due to a lack of human resources, development is delayed or halted.
                A financial infusion could push the development to the final stage.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-done.svg", alt: "Image: stage DONE", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>DONE</b><br>"Done and done!" Everything works just as it did in the original firmware.
                We're still waiting for feedback from you guys, though.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <h3>Typical development lifecycle</h3>
      <p>After we acquire an SDK for a new SoC, we add the SoC to the table of supported hardware. We assign either NEQ
        (No Equipment) status, if we do not have particular hardware modules, or HLP (Help Needed) status, if we have
        the hardware but are looking for a developer who would lead the development for that SoC. This is considered an
        official start of development.</p>
      <p>There is no reason to have SoC in the table without having its SDK.</p>
      <p>As work on the SoC progresses, its status changes, gradually. First to RND, then to WIP, then further to MVP,
        and, finally, to DONE.</p>
    </div>
  </div>
</article>
