<article class="hardware">
  <header>
    <h2>Stages of Firmware development</h2>
  </header>

  <div class="row">
    <div class="col-lg-8">

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-neq.svg", alt: "Image: stage NEQ", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>NEQ</b><br>"No Equipment". We have an SDK for the platform, but we don't have specific hardware to
                continue development, you can donate it to our R&D guys (especially older boards which are past
                <abbr title="End-Of-Life">EOL</abbr> and there is no way to buy them anymore).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-rnd.svg", alt: "Image: stage R&D", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>R&D</b><br>"Research & Development" stage, when we already have the platform SDK, and probably
                even hardware boards, but we only starting tinkering with the platform, learning its specifics and
                peculiarities. There is a lot of work lies ahead.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-wip.svg", alt: "Image: stage WIP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>WIP</b><br>"Work In Progress". We learned some major stuff about platform's hardware and code,
                and probably early adopters could even test first public binary builds on their boards to provide
                feedback and help us to move further.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-mvp.svg", alt: "Image: stage MVP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>MVP</b><br>"Minimal Viable Product". Basic system is built (video at least on the main channel),
                hardware and software design are clear in our mind, but due to lack of human resources development
                is stalled. Here goes the next stage, where help is needed.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-hlp.svg", alt: "Image: stage HLP", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>HLP</b><br>"Help needed". We have the hardware, we have SDK, basic stuff is done. At this stage,
                help from an experienced embedded developer, or a contribution from a interested sponsors could boost
                the work on that particular platform.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 border-0">
        <div class="row g-4">
          <div class="col-md-3"><%= image_tag "stage-done.svg", alt: "Image: stage DONE", class: "card-image" %></div>
          <div class="col-md-9">
            <div class="card-body">
              <p><b>DONE</b><br>"Done and done!" Everything seems works just like in original firmware. Although, we are
                still looking for feedback from you, guys.</p></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      <h3>Typical development lifecycle</h3>
      <p>After we acquire an SDK for a new SoC, we add the SoC to the table of supported hardware. We assign either NEQ
        (No Equipment) status, if we do not have particular hardware modules, or HLP (Help Needed) status, if we have
        the hardware but are looking for a developer who would lead the development for that SoC. This is considered an
        official start of development.</p>
      <p>There is no reason to have SoC in the table without having its SDK.</p>
      <p>As work on the SoC progresses, its status changes, gradually. First to RND, then to WIP, then further to MVP,
        and, finally, to DONE.</p>
    </div>
  </div>
</article>
