<article class="sponsors">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/ninja-sponsors.webp" alt="<%= t('.sponsors_alt') %>" class="img-fluid">
    </div>
    <div class="col-md-9 mb-3">
      <h3><%= t('.subtitle1') %></h3>
      <p class="lead"><%= t('.paragraph1') %></p>
      <p><%= t('.paragraph2') %></p>
      <p><%= t('.paragraph3') %></p>
      <p><%= t('.paragraph4') %></p>
      <p><%= t('.paragraph5') %></p>
      <p><%= t('.paragraph6') %></p>
      <p><%= t('.paragraph7') %></p>
      <p><%= t('.paragraph8_html') %></p>

      <h3><%= t('.subtitle2') %></h3>
      <p><%= t('.paragraph9_html') %></p>
      <p><a href="https://opencollective.com/openipc/contribute/backer-14335/checkout" target="_blank"><img
        src="https://opencollective.com/webpack/donate/button.png?color=blue" alt="<%= t('.donate_alt') %>"></a></p>
      <h4><%= t('.thank_you') %></h4>
    </div>
  </div>
</article>
