<article class="hardware">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <ul class="nav nav-tabs mb-4 small">
    <li class="nav-item">
      <%= link_to t('.featured'), '/supported-hardware/featured', class: "nav-link fw-bold#{" active" if action_name.eql?('featured')}" %>
    </li>
    <% Vendor.order(:name).each do |v| %>
      <li class="nav-item">
        <%= link_to v.name, cameras_vendor_path(v), class: "nav-link#{" active" if @vendor.eql?(v.name)}" %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to t('.full_list'), '/supported-hardware/full-list', class: "nav-link text-muted#{" active" if action_name.eql?('full_list')}" %>
    </li>
  </ul>

  <h3><%= @page_title %></h3>

  <div class="alert alert-info">
    <p class="mb-0"><%= t('.recommended_alert_html') %></p>
  </div>

  <div class="socs">
    <dl class="row mb-3 border-bottom small fw-bold">
      <dd class="col-2 col-md-1 stage"><%= t('.th_stage') %></dd>
      <dd class="col-10 col-md-3 model"><%= t('.th_soc_model') %></dd>
      <dd class="col-2 col-md-1 url"><%= t('.th_docs') %></dd>
      <dd class="col-2 col-md-1 url">U-Boot</dd>
      <dd class="col-2 col-md-1 url">Linux</dd>
      <dd class="col-2 col-md-1 url">SDK</dd>
      <dd class="col-4 col-md-2 hex_address"><%= t('.th_baseaddr') %></dd>
    </dl>

    <%= render @socs %>
  </div>

  <p><%= link_to t('.stages_of_development'), "/stages-of-firmware-development" %></p>
</article>
