<article class="hardware">
  <header>
    <h2 class="display-3"><%= @soc.full_name %></h2>
  </header>

  <div class="row">
    <div class="col-md-6 col-xl-7 col-xxl-8">
      <h3>Installation Instruction</h3>
      <p>In order to get a personalized installation instruction, please enter your network configuration below:</p>
      <%= form_for :camera, url: cameras_vendor_soc_path(@soc.vendor, @soc), method: 'put' do |f| %>

        <div class="row row-cols-1 row-cols-xl-2">
          <div class="col">
            <div class="mb-3">
              <%= f.label :ipaddr, "Camera IP address", class: "form-label" %>
              <%= f.text_field :ipaddr, pattern: ipaddr_pattern, value: "192.168.1.10",
                title: "four 8-bit fields separated by periods", class: "form-control", required: true %>
            </div>
            <div class="mb-3">
              <%= f.label :serverip, "TFTP server IP address", class: "form-label" %>
              <%= f.text_field :serverip, pattern: ipaddr_pattern, value: "192.168.1.254",
                title: "four 8-bit fields separated by periods", class: "form-control", required: true %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= f.label :flash_type, "Camera flash memory type and size", class: "form-label" %>
              <%= f.select :flash_type, flash_type_sizes, {}, class: "form-select" %>
              <div><i class="text-black-50 small">If not sure, leave NOR 8M.</i></div>
            </div>
            <div class="mb-3">
              <%= f.label :flash_type, "Network interfaces", class: "form-label" %>
              <%= f.select :network_ifaces, network_ifaces, {}, class: "form-select" %>
            </div>
            <div class="mb-3">
              <%= f.label :flash_type, "SD card", class: "form-label" %>
              <%= f.select :cd_card, cd_card, {}, class: "form-select" %>
            </div>
          </div>
        </div>
        <p><%= f.submit "Generate installation instruction", class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <div class="col-md-6 col-xl-5 col-xxl-4">
      <h3>Downloads</h3>

      <div class="alert alert-primary github">
        <i class="bi bi-github float-end"></i>
        <h4 class="mb-1">OpenIPC Bootloader</h4>
        <p class="small">for <%= @soc.full_name %></p>
        <p class="mb-0"><%= link_to @soc.uboot_filename, @soc.bl_url unless @soc.uboot_filename.blank? %></p>
      </div>

      <div class="alert alert-primary github">
        <i class="bi bi-github float-end"></i>
        <h4 class="mb-1">OpenIPC Linux</h4>
        <p class="small">for <%= @soc.full_name %></p>
        <p class="mb-0"><%= link_to @soc.linux_filename, @soc.fw_url unless @soc.linux_filename.blank? %></p>
      </div>
    </div>
  </div>
</article>
