<article class="hardware">
  <header>
    <h2 class="display-3"><%= @soc.full_name %></h2>
  </header>

  <div class="row">
    <div class="col-md-6 col-xl-7 col-xxl-8">
      <h3>Installation Instruction</h3>
      <p>In order to get a personalized installation instruction, please enter your network configuration below:</p>
      <%= bootstrap_form_for @camera, url: cameras_vendor_soc_path(@soc.vendor, @soc), method: 'put' do |f| %>
        <div class="row row-cols-1 row-cols-xl-2">
          <div class="col">
            <%= f.text_field :camera_ip_address, pattern: ipaddr_pattern, title: "four 8-bit fields separated by periods", class: "form-control", required: true %>
            <%= f.text_field :server_ip_address, pattern: ipaddr_pattern, title: "four 8-bit fields separated by periods", class: "form-control", required: true %>
          </div>
          <div class="col">
            <%= f.select :flash_type, list_of_flash_type_sizes_for_select %>
            <%= f.select :network_interface, list_of_network_interfaces_for_select %>
            <%= f.select :sd_card_slot, list_of_sd_card_for_select %>
          </div>
        </div>
        <p><%= f.submit "Generate installation instruction", class: "btn btn-primary" %></p>
      <% end %>
    </div>
    <div class="col-md-6 col-xl-5 col-xxl-4">
      <h3>Downloads</h3>

      <% unless @soc.uboot_filename.blank? %>
        <div class="alert alert-primary github">
          <i class="bi bi-github float-end"></i>
          <h4 class="mb-1">OpenIPC Bootloader</h4>
          <p class="small">for <%= @soc.full_name %></p>
          <p class="mb-0"><%= link_to @soc.uboot_filename, @soc.bl_url %></p>
        </div>
      <% end %>

      <% unless @soc.linux_filename.blank? %>
        <div class="alert alert-primary github">
          <i class="bi bi-github float-end"></i>
          <h4 class="mb-1">OpenIPC Linux</h4>
          <p class="small">for <%= @soc.full_name %></p>
          <p class="mb-0"><%= link_to @soc.linux_filename, @soc.fw_url %></p>
        </div>
      <% end %>

      <% unless @soc.toolchain_filename.blank? %>
        <div class="alert alert-primary github">
          <i class="bi bi-github float-end"></i>
          <h4 class="mb-1">OpenIPC Toolchain</h4>
          <p class="small">for <%= @soc.full_name %></p>
          <p class="mb-0"><%= link_to @soc.toolchain_filename, @soc.tc_url %></p>
        </div>
      <% end %>
    </div>
  </div>
</article>
