<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.home'), "/" %></li>
    <li class="breadcrumb-item"><%= link_to t('nav.vendors'), cameras_vendors_path %></li>
    <li class="breadcrumb-item"><%= link_to @vendor.name, cameras_vendor_path(@vendor) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to @camera.soc.model, cameras_vendor_soc_path(@vendor, @camera.soc) %></li>
  </ol>
</nav>

<article class="sensor">
  <header>
    <%= link_to image_tag("stage-#{@camera.soc.status}", width: 64), '/stages-of-firmware-development',
                title: Soc::STATUS[@camera.soc.status.to_sym], class: 'float-end' %>
    <h2 class="display-3"><%= @camera.soc.full_name %></h2>
  </header>

  <div class="row">
    <% if @camera.soc.uboot_filename.blank? || @camera.soc.linux_filename.blank? || @camera.soc.load_address.blank? %>
      <div class="col-md-6 col-xl-7 col-xxl-8 mb-3">
        <div class="alert alert-info">
          <p class="mb-0"><%= t('.not_ready_alert_html', name: @camera.soc.full_name) %></p>
        </div>
      </div>

      <div class="col">
        <% unless @camera.soc.uboot_filename.blank? %>
          <div class="alert alert-info github">
            <i class="bi bi-github float-end"></i>
            <h5 class="mb-1"><%= link_to t('.bootloader'), @camera.soc.bl_url %></h5>
            <p class="mb-0 small"><%= t('.for', name: @camera.soc.full_name) %></p>
          </div>
        <% end %>
        <% unless @camera.soc.linux_filename.blank? %>
          <div class="alert alert-primary github">
            <i class="bi bi-github float-end"></i>
            <h5 class="mb-1"><%= link_to t('.bundle', name: @camera.firmware_version_name), firmware_url(@camera), title: firmware_filename(@camera) %></h5>
            <p class="mb-0 small"><%= t('.for', name: @camera.soc.full_name) %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-6 col-xl-5 col-xxl-4 mb-3">
        <div class="alert alert-info">
          <h3><%= t('.title') %></h3>
          <p class="mb-0"><%= t('.paragraph1') %></p>
        </div>
        <div class="alert alert-danger">
          <h3><%= t('.title2') %></h3>
          <p class="mb-0"><%= t('.paragraph2') %></p>
        </div>
      </div>

      <div class="col-md-6 col-xl-7 col-xxl-8 mb-3">
        <%= bootstrap_form_for @camera, url: cameras_vendor_soc_path(@camera.soc.vendor, @camera.soc), method: 'put' do |f| %>
          <div class="row row-cols-1 row-cols-xl-2">
            <div class="col">
              <%= f.text_field :camera_mac_address, pattern: macaddr_pattern, required: true,
                               title: t('.camera_mac_address_title'), class: "form-control",
                               help: link_to(t('.generate_mac'), '#', id: 'generate-mac-address') %>
              <%= f.text_field :camera_ip_address, pattern: ipaddr_pattern, required: true,
                               title: t('.camera_ip_address_title'), class: "form-control" %>
              <%= f.text_field :server_ip_address, pattern: ipaddr_pattern, required: true,
                               title: t('.server_ip_address_title'), class: "form-control" %>
            </div>
            <div class="col">
              <%= f.select :flash_type, list_of_flash_type_sizes_for_select %>
              <%= f.select :firmware_version, list_of_firmware_versions_for_select %>
              <%= f.select :network_interface, list_of_network_interfaces_for_select %>
              <%= f.select :sd_card_slot, list_of_sd_card_for_select %>
            </div>
          </div>
          <p><%= f.submit t('.generate_button'), class: "btn btn-primary" %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
  <!--
  <h4><%= t('.notes') %></h4>
  <p><%= @camera.soc.notes %></p>
-->
</article>

<script>
    function checkFlashSize() {
        let el = document.querySelector('#camera_firmware_version');

        if (document.querySelector('#camera_flash_type').value === 'nor8m') {
            for (let i = 0; i < el.options.length; i++) {
                let o = el.options.item(i);
                o.disabled = (o.value == 'ultimate'<%= raw " || o.value == 'fpv'" if @camera.soc.vendor.name.eql?('SigmaStar') %>);
            }
            el.value = 'lite';
        } else if (document.querySelector('#camera_flash_type').value === 'nor16m') {
            for (let i = 0; i < el.options.length; i++) {
                let o = el.options.item(i);
                o.disabled = (o.value == 'venc'<%= raw " || o.value == 'fpv'" unless @camera.soc.vendor.name.eql?('SigmaStar') %>);
            }
            el.value = 'ultimate';
        } else if (document.querySelector('#camera_flash_type').value === 'nor32m') {
            for (let i = 0; i < el.options.length; i++) {
                let o = el.options.item(i);
                o.disabled = (o.value == 'venc'<%= raw " || o.value == 'fpv'" unless @camera.soc.vendor.name.eql?('SigmaStar') %>);
            }
            el.value = 'ultimate';
        } else if (document.querySelector('#camera_flash_type').value === 'nand') {
            for (let i = 0; i < el.options.length; i++) {
                let o = el.options.item(i);
                o.disabled = (o.value !== 'ultimate');
            }
            el.value = 'ultimate';
        } else {
            for (let i = 0; i < el.options.length; i++) {
                let o = el.options.item(i);
                o.disabled = (o.value == 'fpv');
            }
        }
    }

    function generateMacAddress(ev) {
        ev.preventDefault();
        const el = document.querySelector('#camera_camera_mac_address');
        if (el.value == "") {
            let mac = "";
            for (let i = 1; i <= 6; i++) {
                let b = ((Math.random() * 255) >>> 0);
                if (i === 1) { // this time it's personal!
                    b = b | 2;
                    b = b & ~1;
                }
                mac += b.toString(16).toUpperCase().padStart(2, '0');
                if (i < 6) mac += ":";
            }
            el.value = mac;
        } else {
            alert("There's a value in MAC address field. Please empty the field and try again.");
        }
    }

    document.querySelector('#generate-mac-address').addEventListener('click', generateMacAddress);
    document.querySelector('#camera_flash_type').addEventListener('change', checkFlashSize);
    checkFlashSize();
</script>
