<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.home'), "/" %></li>
    <li class="breadcrumb-item"><%= link_to t('nav.vendors'), cameras_vendors_path %></li>
    <li class="breadcrumb-item"><%= link_to @vendor.name, cameras_vendor_path(@vendor) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to @camera.soc.model, cameras_vendor_soc_path(@vendor, @camera.soc) %></li>
  </ol>
</nav>

<article class="firmware">
  <header>
    <%= link_to image_tag("stage-#{@camera.soc.status}", width: 64), '/stages-of-firmware-development',
                title: Soc::STATUS[@camera.soc.status.to_sym], class: 'float-end' %>
    <h2 class="mb-0"><%= t('firmware.installation.title') %> (<%= @camera.firmware_version_name %>)</h2>
    <p class="lead fw-bold"><%= t('firmware.installation.subtitle',
                                  soc_name: @camera.soc.full_name, flash_type: @camera.flash_type_name) %></p>
  </header>

  <p class="text-end"><%= link_to t('firmware.installation.permanent_link'), @camera.permalink %></p>

  <div class="alert alert-warning"><%= t('.files_download_alert') %></div>
  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %>"><%= msg %></div>
  <% end %>

  <div class="alert alert-danger">
    <h3 class="fw-bold"><%= t('firmware.installation.backup.title') %></h3>
    <h5 class="mb-4 fw-bold"><%= t('firmware.installation.backup.subtitle') %></h5>
    <div class="row">
      <div class="col col-lg-4">
        <p><%= t('firmware.installation.backup.info') %></p>
      </div>
      <div class="col col-lg-8">
        <% if @camera.sd_card_slot.eql?("sd") && @camera.network_interface.eql?("wifi") %>
          <div class="alert alert-warning">
            <p class="mb-0"><%= t('.sdcard_required_0') %></p>
          </div>
        <% end %>
        <% if @camera.flash_type.eql?("nand") %>
          <%= under_development %>
        <% else %>
          <%= firmware_backup(@camera) %>
          <% if @camera.flash_type.eql?("nor32m") %>
            <p class="alert alert-warning"><%= t('firmware.installation.backup_32') %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="mb-0"><%= t('firmware.installation.backup.more_info_html') %></p>
  </div>

  <% if @camera.soc.instructable? %>
    <div class="alert alert-secondary">
      <h3 class="mb-4 fw-bold"><%= t('firmware.installation.flashing_full.title') %></h3>
      <div class="row">
        <div class="col col-lg-4">
          <div class="github">
            <i class="bi bi-github float-start me-2"></i>
            <h6 class="mb-0"><%= link_to t('firmware.installation.flashing_full.link', name: @camera.firmware_version.to_s.titleize), download_full_image_cameras_vendor_soc_path(@camera.soc.vendor, @camera.soc, fw_release: @camera.firmware_version, flash_size: @camera.flash_size, flash_type: @camera.flash_type_type) %></h6>
            <p>for <%= @camera.soc.full_name %> with <%= @camera.flash_size %>MB NOR flash</p>
            <p class="mb-0"><%= t('firmware.installation.flashing_full.info') %></p>
          </div>
        </div>
        <div class="col">
          <% if @camera.sd_card_slot.eql?("sd") && @camera.network_interface.eql?("wifi") %>
            <div class="alert alert-warning">
              <p class="mb-0"><%= t('.sdcard_required_1') %></p>
            </div>
          <% end %>
          <%= flashing_everything(@camera) %>
          <p><%= t('firmware.installation.flashing_full.continue') %></p>
          <% unless @camera.soc.vendor.name.eql?('SigmaStar') || @camera.soc.vendor.name.eql?('Ingenic') || @flash_type_command.eql?('nor8m') %>
            <p><%= t('firmware.installation.flashing_full.continue2') %></p>
            <%= preparing_environment(@flash_type_command) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="alert alert-success p-5">
    <h3><%= t('firmware.installation.success.title', name: @camera.firmware_version_name) %></h3>
    <p class="mb-0"><%= t('firmware.installation.success.info_html', address: @camera.camera_ip_address) %></p>
  </div>

  <div class="collapsing collapsed" id="collapseExperts">
    <h3><%= t('firmware.installation.flashing.alternative') %></h3>

    <div class="alert alert-secondary">
      <h3 class="mb-4 fw-bold"><%= t('firmware.installation.flashing_uboot.title') %></h3>
      <div class="row">
        <div class="col col-lg-4">
          <% unless @camera.soc.uboot_filename.blank? %>
            <div class="github">
              <i class="bi bi-github float-start me-2"></i>
              <h6 class="mb-0"><%= link_to t('firmware.installation.flashing_uboot.link'),
                                           @camera.soc.bl_url, title: @camera.soc.uboot_filename %></h6>
              <p>for <%= @camera.soc.full_name %></p>
              <p class="mb-0"><%= t('firmware.installation.flashing_uboot.info') %></p>
            </div>
          <% end %>
        </div>
        <div class="col col-lg-8">
          <% if @camera.sd_card_slot.eql?("sd") && @camera.network_interface.eql?("wifi") %>
            <div class="alert alert-warning">
              <p class="mb-0"><%= t('.sdcard_required_2') %></p>
            </div>
          <% end %>
          <%= flashing_uboot(@camera) %>
          <p><%= t('firmware.installation.flashing_uboot.continue') %></p>
        </div>
      </div>

      <h3 class="mb-4 fw-bold"><%= t('firmware.installation.flashing_footfs.title') %></h3>
      <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-8">
          <p><%= t('firmware.installation.flashing_footfs.info') %></p>
          <%= preparing_environment(@flash_type_command) %>
          <p><%= t('firmware.installation.flashing_footfs.continue') %></p>
        </div>
      </div>

      <h3 class="mb-4 fw-bold"><%= t('firmware.installation.flashing_footfs2.title') %></h3>
      <div class="row">
        <div class="col col-lg-4">
          <% unless @camera.soc.linux_filename.blank? %>
            <div class="github">
              <i class="bi bi-github float-start me-2"></i>
              <h6 class="mb-0"><%= link_to t('firmware.installation.flashing_footfs2.link', name: @camera.firmware_version_name), firmware_url(@camera), title: firmware_filename(@camera) %></h6>
              <p>for <%= @camera.soc.full_name %></p>
              <p class="mb-0"><%= t('firmware.installation.flashing_footfs2.info') %></p>
            </div>
          <% end %>
        </div>
        <div class="col col-lg-8">
          <% if @camera.sd_card_slot.eql?("sd") && @camera.network_interface.eql?("wifi") %>
            <div class="alert alert-warning">
              <p class="mb-0"><%= t('.sdcard_required_3') %></p>
            </div>
          <% end %>
          <%= flashing_linux(@camera, @flash_type_command) %>
        </div>
      </div>
    </div>

    <% unless @camera.flash_type.eql?("nand") %>
      <div class="alert alert-warning">
        <h3 class="mb-4 fw-bold"><%= t('firmware.restore.title') %></h3>
        <div class="row">
          <div class="col col-lg-4">
            <p><%= t('firmware.restore.info') %></p>
          </div>
          <div class="col col-lg-8">
            <%= restore_from_backup(@camera) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= t('firmware.info_html') %></p>

  <a data-bs-toggle="collapse" href="#collapseExperts" role="button" aria-expanded="false" aria-controls="collapseExperts"><%= t('.advanced_instruction_link') %></a>
</article>
