<article class="firmware">
  <header>
    <h2 class="mb-0">Flashing OpenIPC firmware</h2>
    <p class="lead fw-bold">on a camera with <%= @soc.full_name %> SoC and <%= @camera.flash_type %> SPI flash chip</p>
  </header>

  <p><a href="?cip=<%= @camera.camera_ip_address %>&sip=<%= @camera.server_ip_address %>&net=<%= @camera.network_interface %>&rom=<%= @camera.flash_type %>&sd=<%= @camera.sd_card_slot %>">Permanent link to this configuration</a></p>

  <p class="alert alert-danger">ATTENTION! Commands should be entered line by line!
    Do not copy and paste multiple lines of commands at once!</p>

  <h3>Saving original firmware</h3>
  <pre class="bg-light p-4">
<% unless @camera.network_interface.eql?("wifi") -%>
setenv ipaddr <%= @camera.camera_ip_address %>; setenv serverip <%= @camera.server_ip_address %>
<% end -%>
mw.b <%= @soc.load_address %> ff 0x1000000; sf probe 0; sf read <%= @soc.load_address %> 0x0 <%= @camera.flash_size_hex %>
tftpput <%= @soc.load_address %> <%= @camera.flash_size_hex %> <%= @backup_filename %>
</pre>

  <h3>Flashing OpenIPC bootloader</h3>
  <p>Download bootloader binary file from <%= link_to @soc.uboot_filename, @soc.bl_url %> and save it to the root directory of your TFTP server.</p>
  <pre class="bg-light p-4">
<% unless @camera.network_interface.eql?("wifi") -%>
setenv ipaddr <%= @camera.camera_ip_address %>; setenv serverip <%= @camera.server_ip_address %>
<% end -%>
mw.b <%= @soc.load_address %> ff 0x1000000; tftpboot <%= @soc.load_address %> <%= @soc.uboot_filename %>
sf probe 0; sf erase 0x0 0x50000; sf write <%= @soc.load_address %> 0x0 0x50000
reset
</pre>

  <h3>Flashing OpenIPC firmware</h3>
  <p>Download firmware bundle from <%= link_to @soc.linux_filename, @soc.fw_url %> and unpack it into the root directory of your TFTP server.</p>
  <pre class="bg-light p-4">
run set<%= @flash_type_command %>
</pre>
  <p>Camera automatically restarts to apply changes.</p>
  <pre class="bg-light p-4">
<% unless @camera.network_interface.eql?("wifi") -%>
setenv ipaddr <%= @camera.camera_ip_address %>; setenv serverip <%= @camera.server_ip_address %>; saveenv
<% end -%>
run uk<%= @flash_type_command %>; run ur<%= @flash_type_command %>
reset
</pre>

<% unless @camera.flash_type.eql?("nand") %>
  <h3>Restoring camera from original firmware backup</h3>
<pre class="bg-light p-4">
<% unless @camera.network_interface.eql?("wifi") -%>
setenv ipaddr <%= @camera.camera_ip_address %>; setenv serverip <%= @camera.server_ip_address %>
<% end -%>
mw.b <%= @soc.load_address %> ff 0x1000000; tftpboot <%= @soc.load_address %> <%= @backup_filename %>
sf probe 0; sf erase 0x0 <%= @camera.flash_size_hex %>; sf write <%= @soc.load_address %> 0x0 <%= @camera.flash_size_hex %>
</pre>
<% end %>

  <p>If you want to learn more about what <code>uknor*</code>, <code>urnor*</code>, <code>setnor*</code> commands do,
    run <code>printenv</code> in bootloader console.</p>
</article>
