<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.home'), "/" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to t('nav.snapshots'), "/open-wall" %></li>
  </ol>
</nav>

<article>
  <header>
    <h2><%= t('title.openwall') %></h2>
    <p><%=t('.subtitle') %></p>
  </header>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 mb-4">
    <%= render @snapshots %>
    <% (9 - @snapshots.size).times do %>
      <div class="col">
        <div class="card">
          <%= image_tag default_image_path, alt: t('.snapshot_alt'), class: "card-img-top" %>
          <div class="card-body small">
            <p class="card-title fw-bold mb-1"><%= t('.no_signal') %></p>
            <p class="card-subtitle mb-2 text-muted small">OpenIPC</p>
            <p class="card-text small"><%= t('.stay_tuned') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= paginate @snapshots, theme: 'bootstrap-5' %>
  </div>
</article>
