<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.home'), "/" %></li>
    <li class="breadcrumb-item"><%= link_to t('nav.snapshots'), "/open-wall" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to t('nav.snapshot', number: @snapshot.id), snapshot_path(@snapshot) %></li>
  </ol>
</nav>

<article>
  <header>
    <h2><%= t('title.openwall') %></h2>
  </header>

  <div id="carouselSnapshots" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <% @snapshots.each_with_index do |_, idx| %>
      <button type="button" data-bs-target="#carouselSnapshots" data-bs-slide-to="<%= idx %>"
              <%= raw 'class="active" aria-current="true"' if idx.eql?(0) %>
              aria-label="Slide <%= idx + 1 %>"></button>
    <% end %>
    </div>
    <div class="carousel-inner ratio ratio-16x9 bg-light">
      <%= render partial: "slide", collection: @snapshots %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSnapshots" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><%= t('nav.previous') %></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSnapshots" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><%= t('nav.next') %></span>
    </button>
  </div>

  <p class="hstack gap-3 my-3">
    <span class="text-muted"><%= t('nav.pause_transitions') %></span>
    <span class="ms-auto"><input type="range" id="speed" min="0" max="4.5" step="0.5" value="2" title="<%= t('.speed') %>"></span>
  </p>
</article>

<script>
  function setSpeed() {
      const ms = (5 - $('#speed').valueAsNumber) * 1000;
      $$('.carousel-item').forEach(el => el.dataset["bsInterval"] = ms);
  }
  $("#speed").addEventListener("input", setSpeed);
  setSpeed();
</script>
