<article>
  <header>
    <h2>Open Wall</h2>
  </header>

  <div class="ratio ratio-16x9 mb-4">
    <%= image_tag @snapshot.file.variant(:fullhd), class: "img-fluid" %>
  </div>

  <span class="float-end text-end text-muted">
    <%= @snapshot.created_at %><br>
    <%= @snapshot.file.metadata['width'] %>x<%= @snapshot.file.metadata['height'] %>,
    <%= @snapshot.file.byte_size %> bytes
  </span>
  <p class="fw-bold mb-1"><%= @snapshot.soc.upcase %> + <%= @snapshot.sensor.upcase %></p>
  <p class="mb-2 text-primary">OpenIPC <%= @snapshot.firmware %></p>
  <p><span>Uptime: <%= @snapshot.uptime %>.</span>
    <% unless @snapshot.soc_temperature.blank? %>
      <span>SoC temperature: <%= @snapshot.soc_temperature %>°C.</span>
    <% end %></p>

  <h4>Archive</h4>
  <div class="archive row row-cols-4 g-2">
    <%= render partial: 'icon', collection: @snapshots %>
  </div>
</article>
