<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.home'), "/" %></li>
    <li class="breadcrumb-item"><%= link_to t('nav.snapshots'), "/open-wall" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to t('nav.snapshot', number: @snapshot.id), snapshot_path(@snapshot) %></li>
  </ol>
</nav>

<article>
  <header>
    <h2><%= t('title.openwall') %></h2>
  </header>

  <div class="ratio ratio-16x9 bg-light mb-4">
    <%= image_tag @snapshot.file.variant(:fullhd), alt: t('.snapshot_alt'), class: "h-100 w-auto position-absolute top-50 start-50 translate-middle" %>
  </div>

  <span class="float-end text-end text-muted">
    <span data-timestamp="<%= @snapshot.created_at.to_i %>"><%= @snapshot.created_at %></span><br>
    <%= @snapshot.image_dimensions %>, <%= @snapshot.file.byte_size %> bytes<br>
  </span>
  <p class="fw-bold mb-1"><%= @snapshot.soc.upcase %> + <%= @snapshot.sensor.upcase %></p>
  <p class="mb-2 text-secondary">OpenIPC <%= @snapshot.firmware %>, <%= @snapshot.streamer %></p>
  <p><span><%= t('.uptime') %>: <%= @snapshot.uptime %>.</span>
    <% unless @snapshot.soc_temperature.blank? %>
      <span><%= t('.temperature') %>: <%= @snapshot.soc_temperature %>°C.</span>
    <% end %></p>

  <p><%= @snapshot.caption %></p>

  <% if admin_signed_in? %>
    <div class="hstack alert alert-warning">
      <p class="mb-0">IP: <%= @snapshot.ip_address %>, MAC: <%= @snapshot.mac_address %>.</p>
      <span class="ms-auto"><%= button_to t('.delete_one'), admin_snapshot_path(@snapshot), method: "delete", class: 'btn btn-danger' %></span>
      <span class="ms-2"><%= button_to t('.delete_by_mac'), admin_snapshot_path(@snapshot, scope: :mac), method: "delete", class: 'btn btn-danger' %></span>
    </div>
  <% end %>

  <p>
    <%= link_to t('site.snapshot.download'), download_snapshot_path(@snapshot) %><br>
    <%= link_to t('site.snapshot.link_to_camera'), openwall_camera_path(@snapshot.mac_address_dec) %><br>
    <%= link_to t('site.snapshot.link_to_last_jpeg'), openwall_camera_path(@snapshot.mac_address_dec, format: :jpg) %>
  </p>

  <% if @snapshots && @snapshots.any? %>
    <h4><%= t('.last_24h') %></h4>
    <p><%= link_to t('.show_slideshow'), oneday_snapshot_path(@snapshot), class: "btn btn-primary" %></p>

    <div class="archive row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-2">
      <%= render partial: 'icon', collection: @snapshots %>
    </div>
  <% end %>
</article>
