<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", "/" %></li>
    <li class="breadcrumb-item"><%= link_to "Latest snapshots", "/open-wall" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Snapshot ##{@snapshot.id}", snapshot_path(@snapshot) %></li>
  </ol>
</nav>

<article>
  <header>
    <h2>Open Wall</h2>
  </header>

  <div class="ratio ratio-16x9 bg-light mb-4">
    <%= image_tag @snapshot.file.variant(:fullhd),
                  class: "h-100 w-auto position-absolute top-50 start-50 translate-middle" %>
  </div>

  <span class="float-end text-end text-muted">
    <%= @snapshot.created_at %><br>
    <%= @snapshot.image_dimensions %>, <%= @snapshot.file.byte_size %> bytes<br>
    <%= link_to 'Download original image', download_snapshot_path(@snapshot) %>
  </span>
  <p class="fw-bold mb-1"><%= @snapshot.soc.upcase %> + <%= @snapshot.sensor.upcase %></p>
  <p class="mb-2 text-primary">OpenIPC <%= @snapshot.firmware %></p>
  <p><span>Uptime: <%= @snapshot.uptime %>.</span>
    <% unless @snapshot.soc_temperature.blank? %>
      <span>SoC temperature: <%= @snapshot.soc_temperature %>°C.</span>
    <% end %></p>

  <% if admin_signed_in? %>
  <div class="hstack alert alert-warning">
    <p class="mb-0">IP: <%= @snapshot.ip_address %>, MAC: <%= @snapshot.mac_address %>.</p>
    <span class="ms-auto">
      <%= button_to "Delete this one", admin_snapshot_path(@snapshot),
                    method: "delete", class: 'btn btn-danger' %>
    </span>
    <span class="ms-2">
      <%= button_to "Delete all by MAC", admin_snapshot_path(@snapshot, scope: :mac),
                    method: "delete", class: 'btn btn-danger' %>
    </span>
  </div>
  <% end %>

  <h4>Last 24 hours</h4>
  <p><%= link_to "Watch as a slideshow", oneday_snapshot_path(@snapshot), class: "btn btn-primary" %></p>

  <div class="archive row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2">
    <%= render partial: 'icon', collection: @snapshots %>
  </div>
</article>
