<tr>
  <td><%= link_to soc.full_name, admin_soc_path(soc) %></td>
  <td><%= soc.load_address %></td>
  <td class="small">
    U-Boot: <%= soc.uboot_filename %><br>
    Linux: <%= soc.linux_filename %><br>
    Toolchain: <%= soc.toolchain_filename %>
  </td>
  <td><%= soc.status %></td>
</tr>
