<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('nav.admin'), "/admin" %></li>
    <li class="breadcrumb-item"><%= link_to t('nav.socs'), admin_socs_path %></li>
    <% if @soc.persisted? %>
      <li class="breadcrumb-item"><%= link_to @soc.model, admin_soc_path(@soc) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to t('nav.editing'), edit_admin_soc_path(@soc) %></li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page"><%= link_to t('nav.adding_soc'), new_admin_soc_path %></li>
    <% end %>
  </ol>
</nav>

<article class="hardware">
  <header>
    <h2><%= @page_title %></h2>
  </header>

  <nav class="navbar">
    <p><%= link_to t('nav.add_soc'), new_admin_soc_path, class: "btn btn-primary" %></p>
    <form action="/admin/socs" method="get" class="row g-3">
      <div class="col-auto">
        <label for="soc" class="visually-hidden">SoC</label>
        <input type="text" class="form-control" id="q" name="q" value="<%= @q %>">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3"><%= t('button.find') %></button>
      </div>
    </form>
  </nav>

  <!--  layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8",-->
  <%= bootstrap_form_for @soc, url: [:admin, @soc] do |f| %>
    <%= f.alert_message t('error.please_fix') %>
    <div class="row">
      <div class="col-lg-3">
        <%= f.collection_select :vendor_id, Vendor.all, :id, :name %>
        <%= f.text_field :model %>
        <%= f.text_field :family %>
        <%= f.check_box :featured, switch: true %>
        <%#= f.text_field :version %>
        <%#= f.text_field :kernel %>
        <%#= f.text_field :sdk %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :uboot_filename %>
        <%= f.text_field :linux_filename %>
        <%= f.text_field :load_address %>
        <%= f.select :status, list_of_stages_for_select %>
      </div>
      <div class="col-lg-6">
        <%= f.text_field :toolchain_filename %>
        <%= f.text_area :notes, rows: 4 %>
      </div>
    </div>
    <%= f.text_field :build_status_url %>
    <%= f.submit %>
  <% end %>
</article>

<% if debug_mode? %>
<div class="bg-light p-4 my-4"><code><%= @soc.inspect %></code></div>
<% end %>
