<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Admin", "/admin" %></li>
    <li class="breadcrumb-item"><%= link_to "SoCs", admin_socs_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to @soc.model, admin_soc_path(@soc) %></li>
  </ol>
</nav>

<article class="hardware">
  <header>
    <h2>SoC</h2>
  </header>

  <nav class="navbar">
    <p><%= link_to 'Add another SoC', new_admin_soc_path, class: "btn btn-primary" %></p>
    <form action="/admin/socs" method="get" class="row g-3">
      <div class="col-auto">
        <label for="soc" class="visually-hidden">SoC</label>
        <input type="text" class="form-control" id="q" name="q" value="<%= @q %>">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Find</button>
      </div>
    </form>
  </nav>

  <div class="row row-cols-md-4">
    <div class="col">
      <dl>
        <dt>SoC Vendor</dt>
        <dd><%= value_or_na @soc.vendor.name %>
        <dt>SoC Model</dt>
        <dd><%= value_or_na @soc.model %></dd>
        <dt>SoC Family</dt>
        <dd><%= value_or_na @soc.family %></dd>
        <dt>SoC Version</dt>
        <dd><%= value_or_na @soc.version %></dd>
      </dl>
    </div>
    <div class="col">
      <dl>
        <dt>Development Status</dt>
        <dd><%= value_or_na @soc.status %></dd>
        <dt>Load Address</dt>
        <dd><%= value_or_na @soc.load_address %></dd>
        <dt>Kernel</dt>
        <dd><%= value_or_na @soc.kernel %></dd>
        <dt>SDK version</dt>
        <dd><%= value_or_na @soc.sdk %></dd>
      </dl>
    </div>
    <div class="col">
      <dl>
        <dt>U-Boot file name</dt>
        <dd><%= value_or_na @soc.uboot_filename %></dd>
        <dt>Linux file name</dt>
        <dd><%= value_or_na @soc.linux_filename %></dd>
        <dt>Toolchain file name</dt>
        <dd><%= value_or_na @soc.toolchain_filename %></dd>
      </dl>
    </div>
    <div class="col">
      <dl>
        <dt>Notes</dt>
        <dd><%= value_or_na @soc.notes %></dd>
      </dl>
    </div>
  </div>

  <dl>
  <dt>Build status URL</dt>
    <dd><%= value_or_na @soc.build_status_url %></dd>
    <dd><%= image_tag @soc.build_status_url unless @soc.build_status_url.blank? %></dd>
  </dl>

  <p><%= link_to 'Edit SoC', edit_admin_soc_path(@soc), class: "btn btn-primary" %></p>
</article>
