<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path "favicon.png" %>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body class="<%= css_debug %>">
<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/"><%= image_tag "openipc-logo-white.svg", alt: "Image: OpenIPC logo", height: 32 %></a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <%= navbar_link("Introduction", "/introduction") %>
        <%= navbar_link("Supported Hardware", "/supported-hardware") %>
        <%= navbar_link("Support Open Source", "/support-open-source") %>
        <%= navbar_link("Open Wall", "/open-wall") %>

        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="dropdownAbout" role="button">About</a>
          <ul aria-labelledby="dropdownAbout" class="dropdown-menu dropdown-menu-lg-end">
            <%= dropdown_link "Our Team", "/our-team" %>
            <%= dropdown_link "Our Projects", "/our-projects" %>
            <%= dropdown_link "Our Channels", "/our-channels" %>
            <%= dropdown_link "Our Wiki", "https://openipc.github.io/wiki" %>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="dropdownTools" role="button">Tools</a>
          <ul aria-labelledby="dropdownTools" class="dropdown-menu dropdown-menu-lg-end">
            <%= dropdown_link "Firmware Partition Calculator", "/tools/firmware-partitions-calculation" %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container mb-4">
    <%= display_flashes %>

    <%= yield %>
  </div>
</main>

<footer class="bg-light small p-4 mt-4">
  <div class="container">
    <div class="row justify-content-between mb-3">
      <div class="col">
        <p>Copyright 2022 <a href="https://openipc.org/">OpenIPC</a>.</p>
      </div>
      <div class="col text-end">
        <div class="btn-group">
          <a class="btn" href="https://github.com/openipc" title="OpenIPC on GitHub"><img
            src="/assets/github.svg" alt="Image: GitHub logo"></a>
          <a class="btn" href="https://twitter.com/openipc" title="OpenIPC on Twitter"><img
            src="/assets/twitter.svg" alt="Image: Twitter logo"></a>
          <a class="btn" href="https://www.youtube.com/channel/UCaXlbR2uGTRFh8jQ2lCFd2g" title="OpenIPC on YouTube"><img
            src="/assets/youtube.svg" alt="Image: YouTube logo"></a>
          <a class="btn" href="https://opencollective.com/openipc" title="OpenIPC on OpenCollective"><img
            src="/assets/opencollective.svg" alt="Image: OpenCollective logo"></a>
        </div>
      </div>
    </div>
    <p class="small">The information contained on this site is for general informational purposes only and is not
      intended to be relied upon by the visitor. All software and firmware available on this site is provided AS IS and
      for research purposes only. OpenIPC shall not be liable for any loss or damage caused by the use of these files or
      the use of, or reliance upon, any information contained in this site.</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
