<!DOCTYPE html>
<html dir="ltr" lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.png' %>">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>

<body id="page-top" class="<%= css_debug %>">
<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/"><%= image_tag 'openipc-logo-white.svg', alt: 'Image: OpenIPC logo', height: 32 %></a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <%= navbar_link(t('nav.introduction'), '/introduction') %>
        <%= navbar_link(t('nav.supported_hardware'), '/supported-hardware') %>
        <%= navbar_link(t('nav.support_opensource'), '/support-open-source') %>
        <%= navbar_link(t('nav.openwall'), '/open-wall') %>

        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="dropdownAbout" role="button"><%= t('nav.about') %></a>
          <ul aria-labelledby="dropdownAbout" class="dropdown-menu dropdown-menu-lg-end">
            <%= dropdown_link t('nav.team'), '/our-team' %>
            <%= dropdown_link t('nav.projects'), '/our-projects' %>
            <%= dropdown_link t('nav.software'), '/our-software' %>
            <%= dropdown_link t('nav.channels'), '/our-channels' %>
            <%= dropdown_link t('nav.webui'), '/web-interface' %>
            <%= dropdown_link t('nav.endpoints'), '/majestic-endpoints' %>
            <%= dropdown_link t('nav.wiki'), 'https://github.com/openipc/wiki' %>
            <%= dropdown_link t('nav.utilities'), '/utilities' %>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
             id="dropdownTools" role="button"><%= t('nav.tools') %></a>
          <ul aria-labelledby="dropdownTools" class="dropdown-menu dropdown-menu-lg-end">
            <%= dropdown_link t('nav.partition_calc'), '/tools/firmware-partitions-calculation' %>
            <%= dropdown_link t('nav.hires_timer'), '/tools/high-resolution-timer' %>
          </ul>
        </li>
      </ul>
      <%= locale_switcher %>
    </div>
  </div>
</nav>

<main>
  <div class="container mb-4">
    <%= display_flashes %>
    <%= yield %>
  </div>
</main>

<footer class="bg-light small p-4 mt-4">
  <div class="container">
    <div class="row justify-content-between mb-3">
      <div class="col">
        <p>Copyright 2022-<%= Date.today.year %> <a href="https://openipc.org/">OpenIPC</a>.</p>
      </div>
      <div class="col text-end">
        <div class="btn-group">
          <a class="btn" href="https://github.com/openipc" title="OpenIPC on GitHub"><img
            src="/assets/github.svg" alt="Image: GitHub logo"></a>
          <a class="btn" href="https://twitter.com/openipc" title="OpenIPC on Twitter"><img
            src="/assets/twitter.svg" alt="Image: Twitter logo"></a>
          <a class="btn" href="https://www.facebook.com/groups/956912811789726" title="OpenIPC on Facebook"><img
            src="/assets/facebook.svg" alt="Image: Facebook logo"></a>
          <a class="btn" href="https://www.youtube.com/@openipc" title="OpenIPC on YouTube"><img
            src="/assets/youtube.svg" alt="Image: YouTube logo"></a>
          <a class="btn" href="https://opencollective.com/openipc" title="OpenIPC on OpenCollective"><img
            src="/assets/opencollective.svg" alt="Image: OpenCollective logo"></a>
        </div>
      </div>
    </div>
    <p class="small"><%= t('site.disclaimer') %></p>
  </div>
</footer>
</body>
</html>
