<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>OpenIPC</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body class="<%= css_debug %>">
<nav class="navbar navbar-dark navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img alt="Image: OpenIPC logo" height="32" src="/assets/logo.svg"></a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/introduction">Introduction</a></li>
        <li class="nav-item"><a class="nav-link" href="/supported-hardware">Supported Hardware</a></li>
        <li class="nav-item"><a class="nav-link" href="/support-open-source">Support Open Source</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="https://openipc.github.io/wiki">Our Wiki</a></li>
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownTools" role="button">Tools</a>
          <ul aria-labelledby="dropdownTools" class="dropdown-menu">
            <li><a class="dropdown-item" href="/tools/firmware-partitions-calculation">Firmware Partition Calculator</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="fixed-bottom bg-light x-small">
  <button type="button" class="btn btn-primary btn-sm m-2 float-start" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDebug" aria-controls="offcanvasDebug">Debug</button>

  <div class="container pt-3">
    <div class="row justify-content-between">
      <div class="col">
    <p>Copyright 2022 <a href="https://openipc.org/">OpenIPC</a>.</p>
      </div>
      <div class="col">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="https://twitter.com/openipc"><i class="bi bi-twitter"></i> OpenIPC on Twitter</a></li>
          <li class="list-group-item"><a href="https://www.youtube.com/channel/UCaXlbR2uGTRFh8jQ2lCFd2g"><i class="bi bi-youtube"></i> OpenIPC on YouTube</a></li>
          <li class="list-group-item"><a href="https://opencollective.com/openipc"><img src="/assets/opencollective.svg" width="13" alt="Image: OpenCollective logo"> OpenIPC on OpenCollective</a></li>
        </ul>
      </div>
    </div>
  </div>

  <% if debug_mode? %>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDebug" aria-labelledby="offcanvasDebugLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDebugLabel">Debug Info</h5>
        <%= form_for :debug, url: root_path do |f| %>
          <%= f.hidden_field :action, value: "init" %>
          <%= f.submit "Refresh Environment" %>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body x-small">
        <ul class="nav nav-tabs" role="tablist">
          <%= tab_lap "t1", "sysinfo", "active" %>
          <%= tab_lap "t2", "env" %>
        </ul>
        <div class="tab-content p-2" id="tab-content">
          <div id="t1-tab-pane" role="tabpanel" class="tab-pane fade active show" aria-labelledby="t1-tab" tabindex="0">
            Hi there
          </div>
          <div id="t2-tab-pane" role="tabpanel" class="tab-pane fade" aria-labelledby="t2-tab" tabindex="0">
            And here, too
          </div>
        </div>
      </div>
    </div>
  <% end %>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
